.cb-list-button-bar-2{
    display:flex;
    justify-content: space-between; 
    margin: 5px 20px;
  }
  .cb-list-button-bar-2 > span {
    flex: 0.49 0 50px;
    /* border-radius: 0px;
    padding: 5px;
    text-align: center; */
  }
  .cb-list-button-bar-2 > button {
    flex: 2 1 150px;
    width:inherit;
    border-radius: 5px;
  }
  
  .cb-list-button, .cb-list-save-button, .cb-list-cancel-button {
    display:flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .cb-list-button {
    background: var(--button-background)
  }
  .cb-list-button:hover {
    background: var(--button-background-hover)
  }
  .cb-list-save-button{
    background: var(--button-save-background)
  }
  .cb-list-save-button:hover {
    background: var(--button-save-background-hover)
  }
  .cb-list-cancel-button{
    background: var(--button-subtle-background)
  }
  .cb-list-cancel-button:hover {
    background: var(--button-subtle-background-hover)
  }
  
  .button-icon {
    margin: 0px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
  }
  .round {
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }
  
  .square {
    border-radius: 5%;
    height: 2em;
  }
  
  .button-icon > img {
    height: inherit;
    width: inherit;
  }
  
  