.app-layout-sidebar {
  grid-area: sidebar;
  height: 90vh;
  background-color: var(--default-primary-color);
}
.app-layout-content {
  grid-area: content;
  height: 90vh;
}
.app-layout-header {
  grid-area: header;
  height: 10vh;
}
.app-layout-wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 15vw 85vw;
  grid-template-areas:
    "header header"
    "sidebar content";
}
